body{
    margin: 0%;
    background-color: yellow;
    font-family:'Roboto', sans-serif;
}

h1,h2{
    color: black;
    text-align: center;
    font-weight: 800;
}

p{
    margin-left: 10px;
    color: red;
}

button{
    border: solid blue;
    background-color: white;
    border-radius: 10px;
    padding: 2S0px;
}